.paginator 
	display flex 
	align-items center 
	justify-content space-between
	gap 1rem
	padding .6rem
	position absolute 
	bottom 0
	left 50%
	transform translate(-50%)
	width fit-content
	z-index 4
	button 
		background transparent
		border 1px solid rgba(255,255,255,.4)
		color #fff
		height 2rem 
		width 2rem
.slide-grid 
	border 1px solid #000
	background pink
	display grid
	justify-content center
	grid-template-columns 1fr
	grid-template-rows 1
	position relative
.slide 
	position absolute
	//top 4rem
	opacity 0
	padding 0 1rem
	transition all .5s
	width 100%
	z-index - 1

.show-1 
	z-index 1
	opacity 1
	transition all .5s
.show-2 
	opacity 1
	z-index 1
.show-3 
	opacity 1	
	z-index 1
.show-4 
	opacity 1
	z-index 1
.paginator
	.showing-1
		background var(--delta)
	.showing-2
		background var(--delta)	
	.showing-3
		background var(--delta)
	.showing-4
		background var(--delta)	
.btn-submit 
	background var(--delta)
	border none
	color #fff
	font-size 1.2rem
	margin 0 1rem
	outline none
	padding .4rem 0
	position absolute
	bottom 4rem
	width calc(var(--globalWidth) - 2rem)

