.paginator 
	display flex 
	align-items center 
	justify-content space-between
	gap 1rem
	padding .6rem
	position absolute 
	bottom 0
	left 50%
	transform translate(-50%)
	width fit-content
	z-index 4
	button 
		background transparent
		border 1px solid var(--gamma) // rgba(255,255,255,.4)
		border-radius 50%
		color var(--theta)
		height 2rem 
		outline none
		transition all .5s
		width 2rem
.slide-grid 
	display grid
	justify-content center
	grid-template-columns 1fr
	grid-template-rows 1
	position relative
.slide 
	position absolute
	//top 4rem
	opacity 0
	padding 0 1rem
	transition all .5s
	width 100%
	z-index - 1

.show-1 
	z-index 1
	opacity 1
	transition all .5s
.show-2 
	opacity 1
	z-index 1
.show-3 
	opacity 1	
	z-index 1
.show-4 
	opacity 1
	z-index 1
.paginator
	.showing-1, .showing-2, .showing-3, .showing-4
		background var(--gamma)
		border none //1px solid var(--)
		color var(--iota)
.btn-submit 
	background transparent //var(--delta)
	border 1px solid
	border-radius 1.5rem
	color var(--theta)
	font-size 1.2rem
	margin 0 auto
	outline none
	padding .5rem 0
	position absolute
	left 50%
	bottom 1rem 
	transform translate(-50%)
	width 12rem

