.filter //styl
    background  rgba(0,0,0,.7)
    height 100%
    position absolute
    left 0
    top 0 
    width 100%
    z-index 1
.flex-box
    display flex
    flex-direction column
    justify-content center
    align-items center
    gap 1rem
    height 100% //fit-content //12rem //100% 
    margin-bottom 2rem
    padding 0rem 1rem 3rem
    position relative
    z-index 2
.flex-box-bg //styl
    background var(--beta)
    background linear-gradient(var(--eta), var(--lambda))
    display flex
    flex-direction column
    gap 1rem
    height fit-content //100%
    padding 1rem
    position relative
.slot-1a-img //styl
    height 100%
    opacity .4
    position absolute
    left 0
    top 0
    width 100%
    z-index -1
.img //styl
    display flex
    align-items end
    height 270px
    margin-bottom 1rem
    position relative
.img-tall 
    border 1px solid rgba(0,0,0,.0)
    height 100%
    margin 0
    position relative
    top 0
.pad-lr 
    padding 0 1rem
h3 
    margin-top 1rem