label 
    color var(--theta)
    display block
    font-size 1rem
    margin .5rem .6rem .5rem

input 
    background transparent
    border 1px solid var(--gamma)
    border-radius 1.4rem
    color var(--theta)
    display block
    font-size 1rem
    margin auto
    padding .2rem .6rem
    width 19rem //var(--ddWidth)