label 
    color var(--beta)
    display block
    font-size 1rem
    margin 0 0 .5rem
textarea 
    background transparent
    border 1px solid var(--beta)
    border-radius 1.4rem
    color var(--beta)
    display block
    font-family: Times
    font-size 1.1rem
    line-height 1.4
    margin auto
    padding .6rem
    width 19rem //var(--ddWidth)