label 
    color var(--theta)
    display block
    font-size 1rem
    margin 0 0 .5rem
textarea 
    background transparent
    border 1px solid var(--gamma)
    border-radius 1.4rem
    color var(--theta)
    display block
    font-size 1rem
    margin auto
    padding .6rem
    width 19rem //var(--ddWidth)